@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

body {
	font-family: Verdana;
}

div.buttons{
	position: absolute;
	z-index: 2000;
    text-align: right;
    bottom: 0;
	left: 0;
	right: 0;
}

div.buttons >button {
	font-size: 6vw; 
	font-weight: bold;
	width: 30vw;
	border-width: 2px;
	border-style: solid none none solid;
	border-radius: 2vw 0 0 0;
}

div.buttons >button.start {
	background-color: #eeffcc;
	color: #800;
	border-color: #aaee44;
}
div.buttons >button.stop {
	background-color: #ffeecc;
	color: #c00;
	border-color: #eeaa44;
}

div.screen {
    position: absolute;
	z-index: 1000;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-family: "Nova Mono", monospace;
	
	display: flex;
	flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
	
	background-color: #eee;
	transition: background-color 5s ease-in;
}

div.screen.active {
	background-color: #fff;
}
	
div.screen >div.time {
	font-size: 15vw; 
	color: #e0e0e0;
}

div.screen >div.time >span.dot{
	color: #e0e0e0;
	position: relative;
	font-weight: normal;
	top: -0.05em;
}
div.screen >div.time >span.dot._mark{
	color: #ccc;
}

div.screen >div.time >span.hundreds {
	display: none;
}
div.screen >div.time >span.second + span.dot{
	display: none;
}

div.screen.show-hundreds >div.time >span.hundreds {
	display: inline;
}
div.screen.show-hundreds >div.time >span.second + span.dot{
	display: inline;
}

div.screen >div.time >span.hundreds {
	font-size: 5vw; 
	color: #e0e0e0;
}
div.screen >div.time >span.second + span.dot{
	font-size: 10vw; 
}

div.screen.has-seconds >div.time >span.second { color: #aaa; }
div.screen.has-minutes >div.time >span.minute { color: #888; }
div.screen.has-hours >div.time >span.hours       { color: #888; }
