@import url('https://fonts.googleapis.com/css?family=Nova+Mono');

body {
	font-family: Verdana;
}

div.stats{
	position: absolute;
    text-align: right;
    top: 0%;
	width: 95%;
}

div.lastDate {
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Nova Mono', monospace;
	
	display: flex;
	flex-direction: column;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}
	
div.lastDate > div.date{
	font-size: 5vw;
	color: #888;
	margin-bottom: -5vw;
}

div.lastDate > div.hour{
	font-size: 18vw; 
	color: #444;
	font-weight: bold;
}

div.lastDate > div.hour > span.dot{
	color: #ccc;
	position: relative;
	font-weight: normal;
	top: -0.05em;
}
div.lastDate > div.hour > span.dot._mark{
	color: #888;
}

div.lastDate > div.hour > span.second{
	color: #ccc;
	font-weight: normal;
}
div.lastDate > div.hour > span.second.slow{
	color: #e8e8e8;
}